@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: hsl(30, 38%, 92%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
